allure-pytest
allure-python-commons
pytest
pytest-forked
pytest-html
pytest-metadata
pytest-parallel
pytest-xdist
psutil
lxml
fake_useragent
netifaces
selenium
deepdiff
psycopg2
schema
requests
urllib3
beautifulsoup4
mysql_connector_repackaged
mysqlclient 
mysql-connector
python_dateutil
